{% load static %}
{% include 'header.html' %}
<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
          <div class="blog-entry">
            <a href="blog-single.html" class="img-link">
              <img src="{% static 'images/img_sq_1.jpg' %}" alt="Image" class="img-fluid">
            </a>
            <div class="blog-entry-contents">
              <h3><a href="#">Farmers Prioritize Biodiversity on their Land</a></h3>
              <div class="meta">Posted by <a href="#">Admin</a> In <a href="#">News</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
          <div class="blog-entry">
            <a href="blog-single.html" class="img-link">
              <img src="{% static 'images/img_sq_7.jpg' %}" alt="Image" class="img-fluid">
            </a>
            <div class="blog-entry-contents">
              <h3><a href="#">Farmers Prioritize Biodiversity on their Land</a></h3>
              <div class="meta">Posted by <a href="#">Admin</a> In <a href="#">News</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
          <div class="blog-entry">
            <a href="blog-single.html" class="img-link">
              <img src="{% static 'images/img_sq_3.jpg' %}" alt="Image" class="img-fluid">
            </a>
            <div class="blog-entry-contents">
              <h3><a href="#">Farmers Prioritize Biodiversity on their Land</a></h3>
              <div class="meta">Posted by <a href="#">Admin</a> In <a href="#">News</a></div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
          <div class="blog-entry">
            <a href="blog-single.html" class="img-link">
              <img src="{% static 'images/img_sq_4.jpg' %}" alt="Image" class="img-fluid">
            </a>
            <div class="blog-entry-contents">
              <h3><a href="#">Farmers Prioritize Biodiversity on their Land</a></h3>
              <div class="meta">Posted by <a href="#">Admin</a> In <a href="#">News</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
          <div class="blog-entry">
            <a href="blog-single.html" class="img-link">
              <img src="{% static 'images/img_sq_5.jpg' %}" alt="Image" class="img-fluid">
            </a>
            <div class="blog-entry-contents">
              <h3><a href="#">Farmers Prioritize Biodiversity on their Land</a></h3>
              <div class="meta">Posted by <a href="#">Admin</a> In <a href="#">News</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
          <div class="blog-entry">
            <a href="blog-single.html" class="img-link">
              <img src="{% static 'images/img_sq_6.jpg' %}" alt="Image" class="img-fluid">
            </a>
            <div class="blog-entry-contents">
              <h3><a href="#">Farmers Prioritize Biodiversity on their Land</a></h3>
              <div class="meta">Posted by <a href="#">Admin</a> In <a href="#">News</a></div>
            </div>
          </div>
        </div>

      </div>

      <div class="row text-center mt-5">
        <div class="col-12">
          <a href="#" class="p-3 d-inline-block">1</a>
          <a href="#" class="p-3 d-inline-block">2</a>
          <span class="p-3 d-inline-block text-black">3</span>
          <a href="#" class="p-3 d-inline-block">4</a>
          <a href="#" class="p-3 d-inline-block">5</a>
        </div>
      </div>
    </div>
  </div>

  {% include 'footer.html' %}